* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: "Poppins";
}
section {
  display: flex;
  justify-content: center;
}
header {
  width: 100%;
  height: 87px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  .header-container {
    height: 40px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 32px;
    a {
      text-decoration: none;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      color: #666666;
      margin-right: 40px;
    }
    .header-btn {
      text-transform: uppercase;
      height: 40px;
      width: 172px;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 2px;
      background-color: #222222;
      color: #ffffff;
      margin-left: 13px;
      border: none;
      border-radius: 4px;
      margin-right: -37px;
      cursor: pointer;
    }
    img {
      cursor: pointer;
    }
    .header-btn:hover {
      background: #4e4e4e;
    }
    .header-btn:focus {
      border: 2px solid #5ab0ff;
    }
  }
}
.timer {
  position: relative;
  .timer-img {
    max-width: 1440px;
  }
  .timer-container {
    position: absolute;
    margin: 60px 0 78px 0;
    .timer-title {
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 75px;
      text-align: center;
      letter-spacing: 1.1px;
      text-transform: uppercase;
      font-feature-settings: "pnum" on, "lnum" on;
      color: #ffffff;
    }
    .subtitle {
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 45px;
      text-align: center;
      letter-spacing: 1.5px;
      color: #ffffff;
    }
    .time {
      font-style: normal;
      font-weight: 400;
      font-size: 100px;
      line-height: 150px;
      display: flex;
      align-items: center;
      letter-spacing: 1.1px;
      text-transform: uppercase;
      color: #ffffff;
      justify-content: center;
      margin-bottom: -10px;
    }
    .time-under {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 40px;
      span {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        letter-spacing: 1.5px;
        color: #ffffff;
      }
    }
  }
}
.about {
  padding: 93px 136px 110px 136px;
  background-color: #ffffff;
  .about-container {
    max-width: 1168px;
    width: 100%;
    padding: 45px 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .inner-cont {
      width: 420px;
      .logo {
        margin-bottom: 5px;
      }
      .title {
        font-style: normal;
        font-weight: 400;
        font-size: 54px;
        line-height: 60px;
        color: #222222;
        margin-bottom: 17px;
      }
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #222222;
        width: 384px;
        margin-bottom: 20px;
      }
      .btn-cont {
        .about-btns {
          width: 148px;
          height: 40px;
          font-style: normal;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #ffffff;
          border: none;
          margin-right: 10px;
          border-radius: 4px;
          background-color: #222222;
          cursor: pointer;
        }
        .one {
          margin-left: 5px;
        }
        .about-btns:hover {
          background: #4e4e4e;
        }
        .about-btns:focus {
          border: 2px solid #5ab0ff;
        }
      }
    }
    .phone {
      position: absolute;
      height: 744.47px;
      left: 59.25%;
      right: 8.56%;
      top: 0px;
    }
  }
}
.features {
  background-color: #222222;
  position: relative;
  z-index: 1;
  color: #ffffff;
  .features-container {
    padding: 100px 120px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 5px;
    }
    .subtitle {
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 36px;
      text-align: center;
      color: #ffffff;
      width: 495px;
      margin-bottom: 45px;
    }
    .inner-cont {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      place-items: center;
      gap: 16px;
      .card {
        position: relative;
        background: #ffffff;
        border-radius: 20px;
        width: 379px;
        height: 490px;
        display: flex;
        align-items: flex-end;
        .phone {
          position: absolute;
          left: 20%;
        }
        .sec {
          left: 19%;
        }
        .icon {
          position: absolute;
          z-index: 2;
          left: 42%;
          top: 53%;
        }
        .text-container {
          color: #222222;
          background-color: #ffffff;
          padding: 48px 40px 42px 40px;
          position: relative;
          z-index: 1;
          border-radius: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          box-sizing: border-box;
          p {
            text-align: center;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #222222;
          }
          span {
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            margin-bottom: 11px;
          }
          .title1 {
            color: #0278ed;
          }
          .title2 {
            color: #ff5437;
          }
          .title3 {
            color: #ff9209;
          }
          .title4 {
            color: #e738ce;
          }
          .title5 {
            color: #00c6df;
          }
          .title6 {
            color: #b25df8;
          }
        }
      }
    }
  }
}
.orange {
  background-color: #ff5437;
  //   height: 316px;
  .orange-container {
    width: 100%;
    max-width: 1168px;
    margin: 80px 136px 100px 136px;
    padding: 0 75px 0 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .orange-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      .number {
        font-style: normal;
        font-weight: 400;
        font-size: 96px;
        line-height: 96px;
        text-align: center;
        color: #ffffff;
        margin-bottom: 20px;
      }
      .text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
  }
}
.mode {
  background-color: #222222;
  color: #ffffff;
  .mode-container {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 140px 0;
    .title {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 5px;
    }
    .subtitle {
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 36px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 14px;
      span {
        color: #ff9209;
      }
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 36px;
    }
    .mode-btns {
      padding: 42px 0 20px 0;
      width: 100%;
      max-width: 600px;
      border-top: 2px solid #e5e5e5;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .light {
        margin-right: 20px;
        cursor: pointer;
      }
      .dark {
        filter: brightness(0) saturate(100%) invert(77%) sepia(56%)
          saturate(5071%) hue-rotate(353deg) brightness(101%) contrast(103%);
        cursor: pointer;
      }
    }
  }
}
.pricing {
  background-color: #ffffff;
  padding: 98px 120px;
  .pricing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #222222;
      margin-bottom: 5px;
    }
    .subtitle {
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 36px;
      text-align: center;
      color: #222222;
      margin-bottom: 14px;
      span {
        color: #ff9209;
      }
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      color: #222222;
      margin-bottom: 40px;
      width: 568px;
    }
    .item-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 15px;
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #f2f2f2;
        border-radius: 20px;
        width: 379px;
        height: 338px;
        padding: 50px 118px;
        .text1 {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          text-align: center;
        }
        .text2 {
          font-style: normal;
          font-weight: 400;
          font-size: 108px;
          line-height: 124px;
          text-align: center;
          letter-spacing: 8px;
        }
        .text3 {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          text-align: center;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #222222;
        }
        .item-btns {
          border-radius: 4px;
          width: 129px;
          height: 40px;
          text-transform: uppercase;
          color: #ffffff;
          border: none;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          text-align: center;
          letter-spacing: 2px;
          text-transform: uppercase;
          cursor: pointer;
        }
        .item-btns:hover {
          opacity: 0.8;
        }
        .first1,
        .first2 {
          color: #0278ed;
        }
        .first2 {
          margin-top: -12px;
          margin-bottom: 25px;
        }
        .first3 {
          margin-bottom: 20px;
        }
        .first-btn {
          background: #0278ed;
        }
        .second1,
        .second2 {
          color: #ff5437;
        }
        .second2 {
          margin-top: -12px;
          margin-bottom: 25px;
        }
        .second3 {
          margin-bottom: 20px;
        }
        .second-btn {
          background: #ff5437;
        }
        .third1,
        .third2 {
          color: #ff9209;
        }
        .third2 {
          margin-top: -12px;
          margin-bottom: 25px;
        }
        .third3 {
          margin-bottom: 20px;
        }
        .third-btn {
          background: #ff9209;
        }
      }
    }
  }
}
.footer {
  background-color: #f2f2f2;
  .footer-container {
    padding: 125px 0;
    width: 100%;
    max-width: 1168px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 120px;
      margin-bottom: 26px;
    }
    .social-container {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 24px;
      }
      .middle {
        margin: 0 20px 26px 20px;
      }
      .twit:hover {
        cursor: pointer;
        filter: invert(54%) sepia(95%) saturate(407%) hue-rotate(178deg)
          brightness(102%) contrast(101%);
      }
      .middle:hover {
        cursor: pointer;
        filter: invert(20%) sepia(63%) saturate(3691%) hue-rotate(337deg)
          brightness(98%) contrast(87%);
      }
      .fb:hover {
        cursor: pointer;
        filter: invert(35%) sepia(77%) saturate(467%) hue-rotate(180deg)
          brightness(96%) contrast(86%);
      }
    }
  }
}
